.firebaseui-idp-button {
    direction: ltr !important;
    font-weight: 500 !important;
    height: auto !important;
    line-height: normal !important;
    max-width: 200px !important;
    min-height: 20px !important;
    padding: 8px 8px !important;
    text-align: left !important;
    width: 100% !important;
    border-radius: 5% !important;
    height: 30px !important;
    box-sizing: border-box !important;
}

img {
    margin-right: 5px !important;
}

img {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50px;
}

.firebaseui-idp-text {
    color: #fff !important;
    display: table-cell !important;
    font-size: 14px !important;
    padding-left: 8px !important;
    text-transform: none !important;
    vertical-align: middle !important;
}